@media only screen and (max-width: 1800px) {
	.comix_left {
		right: 100%;
	}

	.comix_right {
		left: 78%;
	}
}

@media only screen and (max-width: 1600px) {

	.header_site_row > .right {
	    right: -50px;
	}

	.right_pill {
	    right: -50px;
	}

	.comix_1 {
	    right: 170px;
	}

}


@media only screen and (max-width: 900px) {



}

@media only screen and (max-width: 767px) {



}

@media only screen and (max-width: 600px) {



}


@media only screen and (max-width: 480px) {

	
}
